$positive: #2980B9;
$balanced: #1ABC9C;
$calm: #3498DB;
$energized: #D34836;
$assertive: #E74C3C;
$link-color: $balanced;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
body.platform-ios {
    font-family: Roboto, sans-serif;
}

.ionic-body.platform-ios {
    font-family: Roboto, sans-serif;
}

body.platform-android {
    font-family: Roboto, sans-serif;
}

.ionic-body.platform-android {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.tab-item,
input,
button,
select,
textarea {
    font-family: inherit;
}

.menuAvatarListItem {
    h2light {
        p {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    ;
    border: 0px;
    background-color: transparent;
}

.sideMenuHeaderContainer {
    background: transparent url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/escheresque_ste.png');
}

.roundAvatarList {
    img {
        background-color: whitesmoke;
        border: 2px solid #27ae60;
    }
}

.item-input-wrapper {
    background-color: white;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}