<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary" ng-click="closeModal();">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="border-thin-gray padding-sm-all text-center">
            <img ng-src="{{contactUserAvatar}}" width="100px" height="100px" class="border-thin-gray content-circular">
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="currentContact.name"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">Phone Number</span>
                <input type="tel" ng-model="currentContact.phoneNumber"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">Relation</span>
                <select class="style-select" ng-model="currentContact.contactRelation">
                    <option value="Parent">Parent</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Sibling">Sibling</option>
                    <option value="Child">Child</option>
                    <option value="Gaurdian">Gaurdian</option>
                    <option value="Friend">Friend</option>
                    <option value="Cousin">Cousin</option>
                    <option value="Relative">Relative</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-android-camera placeholder-icon"></i>
                    <input type="text" ng-model="contactUserImageName" placeholder="Choose profile pic" disabled="disabled" class="row"></input>
                </label>
                <div class="fileUpload button button-small button-calm">
                    <span>Browse</span>
                    <input type="file" ng-model-instant class="upload" accept="image/*" onchange="angular.element(this).scope().imageUpload(event)" />
                </div>
            </div>
            <button class="button button-full button-positive" ng-click="createNewContact(currentContact);">Add Contact</button>
        </div>
    </ion-content>
</ion-modal-view>