<ion-view id="contactPage" title="Ambuhelp" hide-back-button="true">
    <ion-content class="has-header" padding="true" scroll="false">
        <div ng-if="emergencyContacts.length > 0" class="list card">
            <div class="item item-divider">Emergency Contacts<span class="badge badge-balanced">{{emergencyContacts.length}}</span></div>
            <ion-item  ng-repeat="contact in emergencyContacts" class="item-avatar positive  roundAvatarList">
                <img ng-src="{{contact.contactAvatarUrl}}">
                <h2 class="balanced text-big-bold">{{contact.name}}</h2>
                <span>
                     <span class="list-item-label positive" >Contact</span>
                     <span class="user-details-value">{{contact.phoneNumber}}</span>
                </span>
                <br/>
                 <span>
                     <span class="list-item-label positive" >Relation</span>
                     <span class="user-details-value">{{contact.contactRelation}}</span>
                </span>
                <br/>
                <div class="contact-button-row pull-right">
                    <button class="button button-small button-calm fa fa-pencil-square-o" ng-click="createModal('edit',contact);"></button>
                    <button class="button button-small button-assertive fa fa-trash-o" ng-click="deleteContact(contact);"></button>
                </div>
                
            </ion-item>
        </div>
        <div ng-if="(!emergencyContacts) || emergencyContacts.length == 0" class="card">
          <div class="item item-text-wrap">
            No Contact Found. Add some contact.
          </div>
        </div>
        <div  class="bar bar-footer bar-balanced">
          <div class="title">
              <button class="button button-title-150 button-clear" ng-click="createModal('create',null);">Add Contacts</button>
          </div>
        </div>
    </ion-content>
</ion-view>

<script id="create-contact-modal.html" type="text/ng-template">
  
</script>


<script id="edit-contact-modal.html" type="text/ng-template">
  
</script>

