<ion-view style="" id="homePage" title="Ambuhelp" hide-back-button="true">
    <ion-content class="has-header" scroll="false">
        
        <button id="centerMapButton" class="button icon ion-android-locate" ng-click="moveToCenter();" ng-if="map"></button>
        <button id="resyncMapButton" class="button icon ion-loop" ng-click="resyncMap();"></button>
        <div id="map" data-tap-disabled="true">
            
        </div>
        <div class="row">
            <div id="sosButton" ng-if="!timerRunning" class="assertive text-center" ng-click="sosButtonAction();">
                <span>SOS</span>
            </div>
            <div id="cancelButton" ng-if="timerRunning" class="positive text-center" ng-click="cancelSOSButtonAction();">
                <span>X</span>
            </div>
        </div>
        <div class="row" id="infoRow">
            <div class="col border-right" style="">
                <div class="text-center">
                    <img src="img/ambulance_icon.png">
                </div>
                <div class="col">
                    <div class="text-center">
                        <span class="balanced text-center">{{ambulanceApproxTime}}</span>
                    </div>
                </div>
            </div>
            <div class="col border-left">
                <div class="text-center">
                    <img src="img/hospital_icon.png">
                </div>
                <div class="col">
                    <div class="text-center">
                        <span class="balanced text-center">{{hospitalApproxTime}}</span>
                    </div>
                </div>
            </div>
        </div>
        <timer ng-show="timerRunning" id="countdown" autostart="false" countdown="10" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}}</timer>
        <div id="countdown-backdrop" ng-show="timerRunning">
            <h1 class="text-center" id="countdownText">Calling Emergency in</h1>
        </div>
    </ion-content>
</ion-view>