<ion-view style="" id="reisterPage" title="Register" hide-back-button="true" cache-view="false">
    <ion-content class="has-header default-background-image" scroll="false" padding="true" >

        <div class="top-margin-sm">

            <div class="list list-inset">
                <div class="border-thin-gray padding-sm-all text-center">
                    <img ng-src="{{profilePicImage}}" width="100px" height="100px" class="border-thin-gray content-circular">
                </div>
                <form novalidate="novalidate" name="registerForm">
                    <label class="item item-input">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input type="text" placeholder="Name" name="fullname" ng-model="registration.name" required />
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-android-call placeholder-icon"></i>
                        <input type="tel" placeholder="Phone" name="phonenumber" ng-model="registration.phoneNumber" required />
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-email placeholder-icon"></i>
                        <input type="email" placeholder="Email" name="email" ng-model="registration.email" required />
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" placeholder="Password" name="password" ng-model="registration.password" required />
                    </label>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-android-camera placeholder-icon"></i>
                            <input type="text" ng-model="profilePicImageName" placeholder="Choose profile pic" disabled="disabled" class="row">
                        </label>
                        <div class="fileUpload button button-small button-calm">
                            <span>Browse</span>
                            <input type="file" ng-model-instant class="upload" accept="image/*" onchange="angular.element(this).scope().imageUpload(event)" />
                        </div>
                    </div>
                </form>
            </div>
            <button class="button button-block button-balanced" ng-disabled="!registerForm.$valid" ng-click="register()">Register</button>

            <h5 class="positive text-center">already registered?</h5>
            <button class="button button-outline button-block button-positive button-white" ui-sref="login">Login</button>
        </div>
    </ion-content>
</ion-view>
