<ion-side-menus enable-menu-with-back-views="false" >
    <ion-side-menu-content scroll="false">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-content padding="false" style="top:0px !important;" class="side-menu-left " scroll="false">
            <div class="sideMenuHeaderContainer" id="menu-container2">
                <div style="width: 100%; height: 30px;" class="spacer"></div>
                <ion-list id="menu-list7">
                    <ion-item style="" id="menu-list-item14" class="item-avatar light menuAvatarListItem roundAvatarList">
                        <img ng-src="{{user.userAvatar}}">
                        <h2light>{{user.name}}
                            <p class="text-light">+91 {{user.phoneNumber}}</p>
                        </h2light>
                    </ion-item>
                </ion-list>
                <div style="width: 100%; height: 30px;" class="spacer"></div>
            </div>
            <ion-list id="menu-list1">
                <ion-item style="" menu-close="" ui-sref="menu.home" class="item-icon-left positive">
                    <i class="icon ion-ios-home"></i>Home</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.profile" class="item-icon-left positive">
                    <i class="icon ion-android-contact"></i>Profile</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.medicalDetails" class="item-icon-left positive">
                    <i class="icon ion-medkit"></i>Medical Details</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.emergencyContacts" class="item-icon-left positive">
                    <i class="icon ion-android-contacts"></i>Emergency Contacts</ion-item>
                <!--<ion-item style="" menu-close="" ui-sref="menu.history" class="item-icon-left positive">
                    <i class="icon ion-android-time"></i>History</ion-item>-->
                <ion-item style="" menu-close="" ng-click="logout();" class="item-icon-left positive">
                    <i class="icon ion-log-out"></i>Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
