<ion-view style="" id="loginPage" title="Login" hide-back-button="true">
    <ion-content class="has-header default-background-image" scroll="false" padding="true">

        <div style="margin-top:150px;">
            <form novalidate="novalidate" name="loginForm">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-email placeholder-icon"></i>
                        <input type="email" placeholder="Email" ng-model="credentials.email" required>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" placeholder="Password" ng-model="credentials.password" required>
                    </label>
                </div>
                <button class="button button-block button-positive" ng-disabled="!loginForm.$valid" ng-click="login()">Login</button>
                <h5 class="balanced text-center">not registered yet?</h5>
                <a class="button button-outline button-block button-balanced button-white" ui-sref="register">Register</a>
            </form>
        </div>
    </ion-content>
</ion-view>