<ion-view id="profilePage" title="Ambuhelp" hide-back-button="true">
    <ion-content class="has-header" padding="true" scroll="false">
        <div class="list">
            <div class="item item-divider">
                User Profile
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-calendar positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive" >Age</span>
                    <span class="user-details-value">{{userDetails.age?userDetails.age + ' years':''}}</span>
                </span>
                <label class="item-input item-input-without-padding" ng-if="editMode">
                    <span class="input-label input-label-custom positive">Age</span>
                    <input class="border-underline input-height-sm" ng-model="userDetails.age" placeholder="your age" type="tel">
                </label>

            </div>

            <div class="item item-icon-left">
                <i class="icon fa fa-venus-mars positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive">Gender</span>
                    <span class="user-details-value">{{userDetails.gender}}</span>
                </span>

                <label class="item-input item-input-without-padding" ng-if="editMode">
                    <span class="input-label input-label-custom positive">Gender</span>
                    <select class="style-select border-underline input-height-sm"  ng-model="userDetails.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </label>
            </div>

            <div class="item item-icon-left">
                <i class="icon fa fa-arrows-v positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive">Height</span>
                    <span class="user-details-value">{{userDetails.height?userDetails.height+' cm':''}}</span>
                </span>

                <label class="item-input item-input-without-padding" ng-if="editMode">
                    <span class="input-label input-label-custom positive">Height</span>
                    <input class="border-underline input-height-sm" ng-model="userDetails.height" type="tel" placeholder="in cm">
                </label>


            </div>

            <div class="item item-icon-left">
                <i class="icon ion-speedometer positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive">Weight</span>
                    <span class="user-details-value" type="number">{{userDetails.weight?userDetails.weight+' Kg':''}}</span>
                </span>
                <label class="item-input item-input-without-padding" ng-if="editMode">
                    <span class="input-label input-label-custom positive">Weight</span>
                    <input class="border-underline input-height-sm" ng-model="userDetails.weight" type="tel" placeholder="in kg">
                </label>

            </div>

            <div class="item item-icon-left">
                <i class="icon fa fa-tint positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive">Blood Group</span>
                    <span class="user-details-value" type="number">{{userDetails.bloodGroup}}</span>
                </span>
                <label class="item-input item-input-without-padding"  ng-if="editMode">
                   
                    <span class="input-label input-label-custom positive">Blood Group</span>
                    <select class="style-select border-underline input-height-sm"  ng-model="userDetails.bloodGroup">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                </label>

            </div>

            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-location positive"></i>
                <span ng-if="!editMode">
                    <span class="list-item-label positive">Address</span>
                    <span class="user-details-value">{{userDetails.address}}</span>
                </span>

                <label class="item-input item-input-without-padding" ng-if="editMode">
                    <span class="input-label input-label-custom positive">Address</span>
                    <textarea class="border-underline input-height-sm" ng-model="userDetails.address" rows="3"></textarea>
                </label>
            </div>


            <!--
            <button ng-if="!editMode" class="item button button-full icon-left ion-compose button-positive" ng-click="openEditMode();">EDIT</button>
            <button ng-if="editMode" class="item button button-full icon-left ion-android-document button-balanced" ng-click="saveEditItems();">Save</button>-->
        </div>

        <div class="bar bar-footer" ng-class="{'bar-balanced': editMode , 'bar-positive': !editMode }" >
            <button ng-if="editMode" class="button button-clear" ng-click="cancelEditMode();">Cancel</button>
            <div class="title">
                <button ng-if="!editMode" class="button button-title-150 button-clear" ng-click="openEditMode();"><i class="fa fa-pencil-square-o"></i>  Edit</button>
                <button ng-if="editMode" class="button button-title-150 button-clear" ng-click="saveEditItems();"><i class=" fa fa-floppy-o"></i>  Save</button>
            </div>
        </div>

    </ion-content>

</ion-view>