<ion-view style="" id="historyPage" title="Ambulhelp" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <div id="ambulhelp2-card24" class="list card">
            <h3 style="color: rgb(0, 0, 0); font-weight: 300;" id="ambulhelp2-heading2">Emergency 1</h3>
            <div style="color:#000000;" id="ambulhelp2-markdown10">
                <p>Emergncy Orrucred at
                    <strong>some details</strong>
                </p>
            </div>
            <ion-item style="" id="ambulhelp2-list-item26" class="item-avatar roundAvatarList">
                <img src="img/awesomeDriver">
                <h2>Driver</h2>
                <p>Mr Awesome Driver</p>
            </ion-item>
            <div style="" id="ambulhelp2-list-item-container7" class="item item-body">
                <div style="color:#000000;" id="ambulhelp2-markdown7">
                    <p style="margin-top:0px;">
                        <strong>City Hopsital</strong>
                    </p>
                </div>
                <ion-list id="ambulhelp2-list8">
                    <ion-item style="" id="ambulhelp2-list-item28" class="item-thumbnail-left positive">
                        <img src="img/awesomedoctor">
                        <h2positive>Dr. Specialist
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida pharetra massa, quis accumsan mauris.</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
            </div>
            <ion-item style="" id="ambulhelp2-list-item27" class="item-icon-left assertive">
                <i class="icon ion-thumbsup"></i>Appreciate</ion-item>
        </div>
        <div id="ambulhelp2-card25" class="list card">
            <h3 style="color: rgb(0, 0, 0); font-weight: 300;" id="ambulhelp2-heading3">Emergency 2</h3>
            <div style="color:#000000;" id="ambulhelp2-markdown11">
                <p>Emergncy Orrucred at
                    <strong>some details</strong>
                </p>
            </div>
            <ion-item style="" id="ambulhelp2-list-item29" class="item-avatar  roundAvatarList">
                <img src="img/awesomeDriver">
                <h2>Driver</h2>
                <p>Mr Awesome Driver</p>
            </ion-item>
            <div style="" id="ambulhelp2-list-item-container9" class="item item-body">
                <div style="color:#000000;" id="ambulhelp2-markdown12">
                    <p style="margin-top:0px;">
                        <strong>City Hopsital</strong>
                    </p>
                </div>
                <ion-list id="ambulhelp2-list9">
                    <ion-item style="" id="ambulhelp2-list-item30" class="item-thumbnail-left positive">
                        <img src="img/awesomedoctor">
                        <h2positive>Dr. Specialist
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida pharetra massa, quis accumsan mauris.</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
            </div>
            <ion-item style="" id="ambulhelp2-list-item31" class="item-icon-left assertive">
                <i class="icon ion-thumbsup"></i>Appreciate</ion-item>
        </div>
    </ion-content>
</ion-view>
