<ion-view style="" id="medicalDetailPage" title="Ambuhelp" hide-back-button="true">
    <ion-content class="has-header" scroll="false" padding="true">
        <div class="list">
            <div class="item item-divider">Medical Details</div>
            <ion-toggle ng-model="medicalDetails.diabetes" toggle-class="toggle-balanced">Diabetes</ion-toggle>
            <ion-toggle ng-model="medicalDetails.heartDisease" toggle-class="toggle-balanced">Heart Disease</ion-toggle>
            <ion-toggle ng-model="medicalDetails.hiv" toggle-class="toggle-balanced">HIV</ion-toggle>
            <ion-toggle ng-model="medicalDetails.cancer" toggle-class="toggle-balanced">Cancer</ion-toggle>
            <ion-toggle ng-model="medicalDetails.highBP" toggle-class="toggle-balanced">High Blood Pressure</ion-toggle>
            <ion-toggle ng-model="medicalDetails.lowBP" toggle-class="toggle-balanced">Low Blood Pressure</ion-toggle>
            <ion-toggle ng-model="medicalDetails.previousSurgery" toggle-class="toggle-balanced">Previous Surgery</ion-toggle>
            <ion-toggle ng-model="medicalDetails.knownAllergies" toggle-class="toggle-balanced">Known Allergies</ion-toggle>
           
        </div>
        <div class="bar bar-footer bar-balanced">
            <div class="title">
                <button class="button button-title-150 button-clear" ng-click="saveMedicalDetails();">Save</button>
            </div>
        </div>
    </ion-content>
</ion-view>