<ion-view style="" id="sosHomePage" title="Ambuhelp" hide-back-button="true">
    <ion-content class="has-header" scroll="false" style="background-image:url('img/back1.png')">
        <div id="wrapper">
          <span class="map-label">ETA: {{sosRequest.route.totalDuration | humanSeconds}}</span>
          <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>    
          <div class="table-row">
            <div id="bookingMap" data-tap-disabled="true" style="background-color:white" class="table-cell">

            </div>
          </div>
          <div class="table-row">
            <div id="bookingDiv" class="table-cell">
                <div class="list card no-margin top-border">

                    <div class="item item-avatar">
                        <img ng-src="{{sosRequest.hospital.logo}}">
                        <h2 class="positive">{{sosRequest.hospital.hospitalDetails.name}}
                            <span ng-if="!isPicked" class="item-note">ETA: {{sosRequest.route.parts[1].value | humanSeconds}}</span>
                            <span ng-if="isPicked" class="item-note">ETA: {{sosRequest.route.parts[0].value | humanSeconds}}</span>
                        </h2>
                        <p>{{sosRequest.hospital.hospitalDetails.category}}</p>
                    </div>
                    <a class="item item-icon-left balanced" ng-href="tel:{{sosRequest.hospital.hospitalDetails.phoneNumber[0]}}">
                        <i class="icon ion-android-call"></i> Call Hospital
                    </a>

                </div>

                <div class="list card no-margin top-border" ng-if="!isPicked">

                    <div class="item item-avatar">
                        <img ng-src="{{sosRequest.ambulance.driverDetails.avatarImage}}">
                        <h2 class="positive">{{sosRequest.ambulance.driverDetails.name}} 
                            <span class="item-note">ETA: {{sosRequest.route.parts[0].value | humanSeconds}}</span>
                        </h2>
                        
                        <p>{{sosRequest.ambulance.username}}</p>
                        <p><input-stars max="5" ng-model="sosRequest.ambulance.driverDetails.averageRating" ng-attr-readonly="true" ></input-stars> {{sosRequest.ambulance.driverDetails.averageRating}}</p>
                    </div>
                    <a class="item item-icon-left balanced" ng-href="tel:{{sosRequest.ambulance.driverDetails.phoneNumber}}">
                        <i class="icon ion-android-call"></i> Call Driver
                    </a>

                </div>
            </div>
          </div>
        </div>


    </ion-content>
</ion-view>
