.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0px;
}

.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list,
.list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list > .item,
.list.card.manual-card-fullwidth > .item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.button-white {
    background-color: white !important;
}

img#logoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 100px;
    height: 100px;
}

#splash-heading {
    font-weight: 400;
    font-size: 2.3em;
    text-align: center;
    padding: 10px;
}

#splash-button-row {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 0 100px 0;
}

.top-margin-sm {
    margin-top: 15px !important;
}

img.image-cicle-with-border {}

.content-circular {
    border-radius: 50%;
}

.border-thin-gray {
    border: 1px solid #ddd;
}

.padding-sm-all {
    padding: 10px
}

.default-background-image {
    background: url("../img/back1.png");
}

.list-item-label {
    display: inline-block;
    padding-right: 10px;
    width: 100px;
}

.input-label-custom {
    padding-top: 0;
    padding-bottom: 0;
}

.list-item-label::after,
.input-label-custom::after {
    content: " : ";
}

.user-details-value {
    color: #333;
    font-size: 1em;
    font-weight: 500;
}

.text-light {
    color: #eee !important
}

.item-input-without-padding {
    padding: 0 !important;
}

.input-height-sm {
    height: 20px !important;
}

.border-underline {
    border-bottom: 1px solid #2980B9 !important;
}

.button-title-150 {
    width: 150px !important;
    vertical-align: middle;
    margin-bottom: 5px;
}

.text-big-bold {
    font-size: 1.2em !important;
    font-weight: 600 !important;
}

.line-divider {
    border-top: 1px solid #333 !important;
}

.contact-button-row {
    margin-top: 5px;
}

.contact-button-row > button {
    margin-left: 10px;
}

.style-select {
    width: 100%;
    margin-right: 5px;
    border: 0;
    background-color: white !important;
}

#map {
    width: 100%;
    height: 85%;
    border-bottom: 2px solid #2980B9 !important;
}

#bookingMap{
    width: 100%;
    height: 100%;

}

#sosButton {
    margin: -42px auto 0 auto;
    border-radius: 50%;
    border: 4px solid #e74c3c;
    width: 80px;
    height: 80px;
    background-color: white;
    z-index: 50;
    cursor: pointer;
}

#sosButton > span{
    vertical-align: middle;
    line-height: 80px;
    font-size:2em;
}

#cancelButton {
    margin: -42px auto 0 auto;
    border-radius: 50%;
    border: 4px solid #2980B9;
    width: 80px;
    height: 80px;
    background-color: white;
    z-index: 100;
    cursor: pointer;

}

#cancelButton > span{
    vertical-align: middle;
    line-height: 80px;
    font-size:2em;
}

#sosText{
    vertical-align: middle;
    line-height: 80px;
    font-size:2em;
}



#infoRow{
    margin-top:-40px;
}

#countdown {
    right: 50%;
    bottom: 60%;
    transform: translate(50%, 40%);
    position: absolute;
    font-size: 6em;
    font-weight: bold;
    z-index: 50;
    color: #141414;
}

.border-right{
    border-right:1px #2980B9 solid;
}

.border-left{
    border-left:1px #2980B9 solid;
}

#countdown-backdrop{
    z-index: 75;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    background-color: rgba(0,0,0,0.3);
}

#countdown-backdrop > h1 {
    margin: 100px 20px 20px 20px;
    z-index: 50;
    color: #141414;
}

#centerMapButton{
    position: absolute;
    right: 20px;
    bottom: 120px;
    z-index: 10;
}

#resyncMapButton{
    position: absolute;
    left: 20px;
    bottom: 120px;
    z-index: 10;
}

.toast-top-full-width{
    top: 60px !important;
}

.no-margin{
    margin: 0 !important;
}

.top-border{
    border-top: 2px solid #2980B9 !important;
}

#wrapper
{
   width:100%;
   height:100%;
   display:table;
}

.table-row
{
   display:table-row;
}

.table-cell
{
   display:table-cell;
}

.map-label{
    padding: 5px 10px;
    background-color: #2980b9;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}
