<ion-view style="" id="splashPage" hide-nav-bar="true" hide-back-button="true">
    <ion-content scroll="false" padding="true"  class="manual-ios-statusbar-padding default-background-image">
        <div>
            <img id="logoImage" src="img/logo.svg" >
        </div>
        <div id="splash-heading">
            <span class="positive">Ambu</span><span class="assertive">help</span>
        </div>
        <div class="row" id="splash-button-row">
            <div class="col">
                <a class="button button-block button-outline button-positive button-white" ui-sref="login">Login</a>
            </div>
            <div class="col">
                <a class="button button-block button-outline button-balanced button-white" ui-sref="register">Register</a>
            </div>
        </div>
    </ion-content>
</ion-view>
